.custom-hero-section {
    background-color: #fff;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    text-align: center;
    color: #000;
}

.custom-hero-section h2 {
    font-size: 42px;
    /* Increased font size */
    font-weight: bold;
    margin-bottom: 25px;
    /* Increased margin */
    padding: 15px;
    /* Increased padding */
    color: grey;
    text-align: left;
    margin-left: 2.8rem;
    /* Adjust the left margin as needed */
}


.custom-service-card {
    color: #000;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 80%;
    width: 100%;
}

.custom-service-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.custom-service-card img {
    width: 60px;
    /* Increased image width */
    height: 60px;
    /* Increased image height */
    padding: 12px;
    /* Increased padding */
    object-fit: cover;
    margin-right: 15px;
}

.custom-service-card h3 {
    font-size: 20px;
    /* Increased font size */
    font-weight: bold;
}

.custom-service-card p {
    font-size: 18px;
    /* Increased font size */
}

.custom-service-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.custom-service-cards .col {
    display: flex;
    justify-content: center;
    margin: 15px;
    flex: 0 0 400px;
    /* Increased the flex value */
    max-width: 380px;
    /* Increased the max-width */
}


/* Responsive styles */
@media (max-width: 768px) {
    .custom-hero-section h2 {
        font-size: 28px;
    }

    .custom-service-card h3 {
        font-size: 16px;
    }

    .custom-service-card p {
        font-size: 14px;
    }

    .custom-service-cards .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}