/* General Navbar styles */
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1000;
}

#bookthat {
    color: #ffffff;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.navbar-logo img {
    height: 100px;
    cursor: pointer;
}

.navbar-center {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Small gap between location and input field */
    flex-grow: 1;
    margin-left: 120px;
}

.navbar-items {
    display: flex;
    align-items: center;
    gap: 20px;
    /* Space between register and book service button */
    margin-left: auto;
    margin-top: 10px;
    /* Push the group to the right */
}

.navbar-items a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar-items a img {
    height: 20px;
    margin-right: 8px;
}

.navbar-location {
    display: flex;
    align-items: center;
    color: #333;
    font-size: 18px;
    background-color: #d5d5d5;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 6px;
}

.navbar-location a {
    text-decoration: none;
    color: inherit;
    margin-left: 5px;

}

.navbar-location svg {
    margin-right: 5px;
}

.navbar-center input {
    width: 430px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 10px;
}

.book-service-button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    height: 2rem;
    display: flex;
    align-items: center;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-items,
    .navbar-center,
    .navbar-location {
        margin-bottom: 10px;
    }

    .navbar-center input {
        width: 100%;
        max-width: none;
    }

    .navbar-location {
        font-size: 14px;
        padding: 3px 8px;

    }

    .book-service-button {
        padding: 5px 10px;
        border-radius: 15px;
    }
}