/* ServiceBooking.css */

/* Common styles */
.slt-booking-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Service details */
.slt-selected-container {
    text-align: center;
    margin-bottom: 20px;
}

.selected-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.slt-booking-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Schedule */
.react-datepicker-wrapper {
    width: 100%;
    margin-bottom: 20px;
}

/* Payment */
.payment-container {
    margin-top: 20px;
}

/* Service card */
.slt-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.slt-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.slt-card-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.slt-details {
    text-align: center;
}

.slt-book-now-button {
    padding: 5px 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.slt-book-now-button:hover {
    background-color: #ffc107;
    /* Darker shade for hover effect */
}

/* Scheduling button */
#schedule-button {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

#schedule-button:hover {
    background-color: #dc3545;
    /* Darker shade for hover effect */
}